.block-button-primary, .block-button-danger, .block-button-dark, .block-button-middle-primary, .block-button-middle-danger, .block-button-middle-dark, .block-button-big-primary, .block-button-big-danger, .block-button-big-dark, .outline-block-button-primary, .outline-block-button-danger, .outline-block-button-dark, .outline-block-button-middle-primary, .outline-block-button-middle-danger, .outline-block-button-middle-dark, .outline-block-button-big-primary, .outline-block-button-big-danger, .outline-block-button-big-dark {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none; }

.button-primary, .button-danger, .button-dark, .button-middle-primary, .button-middle-danger, .button-middle-dark, .button-big-primary, .button-big-danger, .button-big-dark, .button-radius-primary, .button-radius-danger, .button-radius-dark, .button-middle-radius-primary, .button-middle-radius-danger, .button-middle-radius-dark, .button-big-radius-primary, .button-big-radius-danger, .button-big-radius-dark, .outline-button-primary, .outline-button-danger, .outline-button-dark, .outline-button-middle-primary, .outline-button-middle-danger, .outline-button-middle-dark, .outline-button-big-primary, .outline-button-big-danger, .outline-button-big-dark, .outline-button-radius-primary, .outline-button-radius-danger, .outline-button-radius-dark, .outline-button-middle-radius-primary, .outline-button-middle-radius-danger, .outline-button-middle-radius-dark, .outline-button-big-radius-primary, .outline-button-big-radius-danger, .outline-button-big-radius-dark {
  display: inline-block;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none; }

.button-primary, .button-danger, .button-dark, .button-radius-primary, .button-radius-danger, .button-radius-dark, .block-button-primary, .block-button-danger, .block-button-dark, .outline-button-primary, .outline-button-danger, .outline-button-dark, .outline-button-radius-primary, .outline-button-radius-danger, .outline-button-radius-dark, .outline-block-button-primary, .outline-block-button-danger, .outline-block-button-dark {
  padding: 0.4375rem 1.125rem; }

.button-middle-primary, .button-middle-danger, .button-middle-dark, .button-middle-radius-primary, .button-middle-radius-danger, .button-middle-radius-dark, .block-button-middle-primary, .block-button-middle-danger, .block-button-middle-dark, .outline-button-middle-primary, .outline-button-middle-danger, .outline-button-middle-dark, .outline-button-middle-radius-primary, .outline-button-middle-radius-danger, .outline-button-middle-radius-dark, .outline-block-button-middle-primary, .outline-block-button-middle-danger, .outline-block-button-middle-dark {
  padding: 1.375rem 1.875rem; }

.button-big-primary, .button-big-danger, .button-big-dark, .button-big-radius-primary, .button-big-radius-danger, .button-big-radius-dark, .block-button-big-primary, .block-button-big-danger, .block-button-big-dark, .outline-button-big-primary, .outline-button-big-danger, .outline-button-big-dark, .outline-button-big-radius-primary, .outline-button-big-radius-danger, .outline-button-big-radius-dark, .outline-block-button-big-primary, .outline-block-button-big-danger, .outline-block-button-big-dark {
  padding: 1.875rem 3.375rem; }

.button-primary, .button-danger, .button-dark, .button-radius-primary, .button-radius-danger, .button-radius-dark, .block-button-primary, .block-button-danger, .block-button-dark, .outline-button-primary, .outline-button-danger, .outline-button-dark, .outline-button-radius-primary, .outline-button-radius-danger, .outline-button-radius-dark, .outline-block-button-primary, .outline-block-button-danger, .outline-block-button-dark {
  font-size: 0.6875rem; }

.button-middle-primary, .button-middle-danger, .button-middle-dark, .button-middle-radius-primary, .button-middle-radius-danger, .button-middle-radius-dark, .block-button-middle-primary, .block-button-middle-danger, .block-button-middle-dark, .outline-button-middle-primary, .outline-button-middle-danger, .outline-button-middle-dark, .outline-button-middle-radius-primary, .outline-button-middle-radius-danger, .outline-button-middle-radius-dark, .outline-block-button-middle-primary, .outline-block-button-middle-danger, .outline-block-button-middle-dark {
  font-size: 0.875rem; }

.button-big-primary, .button-big-danger, .button-big-dark, .button-big-radius-primary, .button-big-radius-danger, .button-big-radius-dark, .block-button-big-primary, .block-button-big-danger, .block-button-big-dark, .outline-button-big-primary, .outline-button-big-danger, .outline-button-big-dark, .outline-button-big-radius-primary, .outline-button-big-radius-danger, .outline-button-big-radius-dark, .outline-block-button-big-primary, .outline-block-button-big-danger, .outline-block-button-big-dark {
  font-size: 1.125rem; }

.button-radius-primary, .button-radius-danger, .button-radius-dark, .outline-button-radius-primary, .outline-button-radius-danger, .outline-button-radius-dark {
  -webkit-border-radius: 0.1875rem;
  -moz-border-radius: 0.1875rem;
  border-radius: 0.1875rem; }

.button-middle-radius-primary, .button-middle-radius-danger, .button-middle-radius-dark, .outline-button-middle-radius-primary, .outline-button-middle-radius-danger, .outline-button-middle-radius-dark, .block-button-big-dark, .outline-block-button-big-dark {
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem; }

.button-big-radius-primary, .button-big-radius-danger, .button-big-radius-dark, .outline-button-big-radius-primary, .outline-button-big-radius-danger, .outline-button-big-radius-dark {
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  border-radius: 0.375rem; }

.button-primary {
  background-color: #0894ec;
  color: #fff; }
  .button-primary:hover:not(:disabled), .button-primary:active:not(:disabled), .button-primary:focus:not(:disabled) {
    background-color: #0785d3; }

.button-danger {
  background-color: #ff0000;
  color: #fff; }
  .button-danger:hover:not(:disabled), .button-danger:active:not(:disabled), .button-danger:focus:not(:disabled) {
    background-color: #e60000; }

.button-dark {
  background-color: #444;
  color: #fff; }
  .button-dark:hover:not(:disabled), .button-dark:active:not(:disabled), .button-dark:focus:not(:disabled) {
    background-color: #373737; }

.button-middle-primary {
  background-color: #0894ec;
  color: #fff; }
  .button-middle-primary:hover:not(:disabled), .button-middle-primary:active:not(:disabled), .button-middle-primary:focus:not(:disabled) {
    background-color: #0785d3; }

.button-middle-danger {
  background-color: #ff0000;
  color: #fff; }
  .button-middle-danger:hover:not(:disabled), .button-middle-danger:active:not(:disabled), .button-middle-danger:focus:not(:disabled) {
    background-color: #e60000; }

.button-middle-dark {
  background-color: #444;
  color: #fff; }
  .button-middle-dark:hover:not(:disabled), .button-middle-dark:active:not(:disabled), .button-middle-dark:focus:not(:disabled) {
    background-color: #373737; }

.button-big-primary {
  background-color: #0894ec;
  color: #fff; }
  .button-big-primary:hover:not(:disabled), .button-big-primary:active:not(:disabled), .button-big-primary:focus:not(:disabled) {
    background-color: #0785d3; }

.button-big-danger {
  background-color: #ff0000;
  color: #fff; }
  .button-big-danger:hover:not(:disabled), .button-big-danger:active:not(:disabled), .button-big-danger:focus:not(:disabled) {
    background-color: #e60000; }

.button-big-dark {
  background-color: #444;
  color: #fff; }
  .button-big-dark:hover:not(:disabled), .button-big-dark:active:not(:disabled), .button-big-dark:focus:not(:disabled) {
    background-color: #373737; }

.button-radius-primary {
  background-color: #0894ec;
  color: #fff; }
  .button-radius-primary:hover:not(:disabled), .button-radius-primary:active:not(:disabled), .button-radius-primary:focus:not(:disabled) {
    background-color: #0785d3; }

.button-radius-danger {
  background-color: #ff0000;
  color: #fff; }
  .button-radius-danger:hover:not(:disabled), .button-radius-danger:active:not(:disabled), .button-radius-danger:focus:not(:disabled) {
    background-color: #e60000; }

.button-radius-dark {
  background-color: #444;
  color: #fff; }
  .button-radius-dark:hover:not(:disabled), .button-radius-dark:active:not(:disabled), .button-radius-dark:focus:not(:disabled) {
    background-color: #373737; }

.button-middle-radius-primary {
  background-color: #0894ec;
  color: #fff; }
  .button-middle-radius-primary:hover:not(:disabled), .button-middle-radius-primary:active:not(:disabled), .button-middle-radius-primary:focus:not(:disabled) {
    background-color: #0785d3; }

.button-middle-radius-danger {
  background-color: #ff0000;
  color: #fff; }
  .button-middle-radius-danger:hover:not(:disabled), .button-middle-radius-danger:active:not(:disabled), .button-middle-radius-danger:focus:not(:disabled) {
    background-color: #e60000; }

.button-middle-radius-dark {
  background-color: #444;
  color: #fff; }
  .button-middle-radius-dark:hover:not(:disabled), .button-middle-radius-dark:active:not(:disabled), .button-middle-radius-dark:focus:not(:disabled) {
    background-color: #373737; }

.button-big-radius-primary {
  background-color: #0894ec;
  color: #fff; }
  .button-big-radius-primary:hover:not(:disabled), .button-big-radius-primary:active:not(:disabled), .button-big-radius-primary:focus:not(:disabled) {
    background-color: #0785d3; }

.button-big-radius-danger {
  background-color: #ff0000;
  color: #fff; }
  .button-big-radius-danger:hover:not(:disabled), .button-big-radius-danger:active:not(:disabled), .button-big-radius-danger:focus:not(:disabled) {
    background-color: #e60000; }

.button-big-radius-dark {
  background-color: #444;
  color: #fff; }
  .button-big-radius-dark:hover:not(:disabled), .button-big-radius-dark:active:not(:disabled), .button-big-radius-dark:focus:not(:disabled) {
    background-color: #373737; }

.block-button-primary {
  background-color: #0894ec;
  color: #fff; }
  .block-button-primary:hover:not(:disabled), .block-button-primary:active:not(:disabled), .block-button-primary:focus:not(:disabled) {
    background-color: #0785d3; }

.block-button-danger {
  background-color: #ff0000;
  color: #fff; }
  .block-button-danger:hover:not(:disabled), .block-button-danger:active:not(:disabled), .block-button-danger:focus:not(:disabled) {
    background-color: #e60000; }

.block-button-dark {
  background-color: #444;
  color: #fff; }
  .block-button-dark:hover:not(:disabled), .block-button-dark:active:not(:disabled), .block-button-dark:focus:not(:disabled) {
    background-color: #373737; }

.block-button-middle-primary {
  background-color: #0894ec;
  color: #fff; }
  .block-button-middle-primary:hover:not(:disabled), .block-button-middle-primary:active:not(:disabled), .block-button-middle-primary:focus:not(:disabled) {
    background-color: #0785d3; }

.block-button-middle-danger {
  background-color: #ff0000;
  color: #fff; }
  .block-button-middle-danger:hover:not(:disabled), .block-button-middle-danger:active:not(:disabled), .block-button-middle-danger:focus:not(:disabled) {
    background-color: #e60000; }

.block-button-middle-dark {
  background-color: #444;
  color: #fff; }
  .block-button-middle-dark:hover:not(:disabled), .block-button-middle-dark:active:not(:disabled), .block-button-middle-dark:focus:not(:disabled) {
    background-color: #373737; }

.block-button-big-primary {
  background-color: #0894ec;
  color: #fff; }
  .block-button-big-primary:hover:not(:disabled), .block-button-big-primary:active:not(:disabled), .block-button-big-primary:focus:not(:disabled) {
    background-color: #0785d3; }

.block-button-big-danger {
  background-color: #ff0000;
  color: #fff; }
  .block-button-big-danger:hover:not(:disabled), .block-button-big-danger:active:not(:disabled), .block-button-big-danger:focus:not(:disabled) {
    background-color: #e60000; }

.block-button-big-dark {
  background-color: #444;
  color: #fff; }
  .block-button-big-dark:hover:not(:disabled), .block-button-big-dark:active:not(:disabled), .block-button-big-dark:focus:not(:disabled) {
    background-color: #373737; }

.outline-button-primary {
  background-color: transparent;
  color: #0894ec;
  border: 1px solid #0894ec; }
  .outline-button-primary:hover:not(:disabled), .outline-button-primary:active:not(:disabled), .outline-button-primary:focus:not(:disabled) {
    background-color: #0785d3;
    color: #fff; }

.outline-button-danger {
  background-color: transparent;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .outline-button-danger:hover:not(:disabled), .outline-button-danger:active:not(:disabled), .outline-button-danger:focus:not(:disabled) {
    background-color: #e60000;
    color: #fff; }

.outline-button-dark {
  background-color: transparent;
  color: #444;
  border: 1px solid #444; }
  .outline-button-dark:hover:not(:disabled), .outline-button-dark:active:not(:disabled), .outline-button-dark:focus:not(:disabled) {
    background-color: #373737;
    color: #fff; }

.outline-button-middle-primary {
  background-color: transparent;
  color: #0894ec;
  border: 1px solid #0894ec; }
  .outline-button-middle-primary:hover:not(:disabled), .outline-button-middle-primary:active:not(:disabled), .outline-button-middle-primary:focus:not(:disabled) {
    background-color: #0785d3;
    color: #fff; }

.outline-button-middle-danger {
  background-color: transparent;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .outline-button-middle-danger:hover:not(:disabled), .outline-button-middle-danger:active:not(:disabled), .outline-button-middle-danger:focus:not(:disabled) {
    background-color: #e60000;
    color: #fff; }

.outline-button-middle-dark {
  background-color: transparent;
  color: #444;
  border: 1px solid #444; }
  .outline-button-middle-dark:hover:not(:disabled), .outline-button-middle-dark:active:not(:disabled), .outline-button-middle-dark:focus:not(:disabled) {
    background-color: #373737;
    color: #fff; }

.outline-button-big-primary {
  background-color: transparent;
  color: #0894ec;
  border: 1px solid #0894ec; }
  .outline-button-big-primary:hover:not(:disabled), .outline-button-big-primary:active:not(:disabled), .outline-button-big-primary:focus:not(:disabled) {
    background-color: #0785d3;
    color: #fff; }

.outline-button-big-danger {
  background-color: transparent;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .outline-button-big-danger:hover:not(:disabled), .outline-button-big-danger:active:not(:disabled), .outline-button-big-danger:focus:not(:disabled) {
    background-color: #e60000;
    color: #fff; }

.outline-button-big-dark {
  background-color: transparent;
  color: #444;
  border: 1px solid #444; }
  .outline-button-big-dark:hover:not(:disabled), .outline-button-big-dark:active:not(:disabled), .outline-button-big-dark:focus:not(:disabled) {
    background-color: #373737;
    color: #fff; }

.outline-button-radius-primary {
  background-color: transparent;
  color: #0894ec;
  border: 1px solid #0894ec; }
  .outline-button-radius-primary:hover:not(:disabled), .outline-button-radius-primary:active:not(:disabled), .outline-button-radius-primary:focus:not(:disabled) {
    background-color: #0785d3;
    color: #fff; }

.outline-button-radius-danger {
  background-color: transparent;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .outline-button-radius-danger:hover:not(:disabled), .outline-button-radius-danger:active:not(:disabled), .outline-button-radius-danger:focus:not(:disabled) {
    background-color: #e60000;
    color: #fff; }

.outline-button-radius-dark {
  background-color: transparent;
  color: #444;
  border: 1px solid #444; }
  .outline-button-radius-dark:hover:not(:disabled), .outline-button-radius-dark:active:not(:disabled), .outline-button-radius-dark:focus:not(:disabled) {
    background-color: #373737;
    color: #fff; }

.outline-button-middle-radius-primary {
  background-color: transparent;
  color: #0894ec;
  border: 1px solid #0894ec; }
  .outline-button-middle-radius-primary:hover:not(:disabled), .outline-button-middle-radius-primary:active:not(:disabled), .outline-button-middle-radius-primary:focus:not(:disabled) {
    background-color: #0785d3;
    color: #fff; }

.outline-button-middle-radius-danger {
  background-color: transparent;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .outline-button-middle-radius-danger:hover:not(:disabled), .outline-button-middle-radius-danger:active:not(:disabled), .outline-button-middle-radius-danger:focus:not(:disabled) {
    background-color: #e60000;
    color: #fff; }

.outline-button-middle-radius-dark {
  background-color: transparent;
  color: #444;
  border: 1px solid #444; }
  .outline-button-middle-radius-dark:hover:not(:disabled), .outline-button-middle-radius-dark:active:not(:disabled), .outline-button-middle-radius-dark:focus:not(:disabled) {
    background-color: #373737;
    color: #fff; }

.outline-button-big-radius-primary {
  background-color: transparent;
  color: #0894ec;
  border: 1px solid #0894ec; }
  .outline-button-big-radius-primary:hover:not(:disabled), .outline-button-big-radius-primary:active:not(:disabled), .outline-button-big-radius-primary:focus:not(:disabled) {
    background-color: #0785d3;
    color: #fff; }

.outline-button-big-radius-danger {
  background-color: transparent;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .outline-button-big-radius-danger:hover:not(:disabled), .outline-button-big-radius-danger:active:not(:disabled), .outline-button-big-radius-danger:focus:not(:disabled) {
    background-color: #e60000;
    color: #fff; }

.outline-button-big-radius-dark {
  background-color: transparent;
  color: #444;
  border: 1px solid #444; }
  .outline-button-big-radius-dark:hover:not(:disabled), .outline-button-big-radius-dark:active:not(:disabled), .outline-button-big-radius-dark:focus:not(:disabled) {
    background-color: #373737;
    color: #fff; }

.outline-block-button-primary {
  background-color: transparent;
  color: #0894ec;
  border: 1px solid #0894ec; }
  .outline-block-button-primary:hover:not(:disabled), .outline-block-button-primary:active:not(:disabled), .outline-block-button-primary:focus:not(:disabled) {
    background-color: #0785d3;
    color: #fff; }

.outline-block-button-danger {
  background-color: transparent;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .outline-block-button-danger:hover:not(:disabled), .outline-block-button-danger:active:not(:disabled), .outline-block-button-danger:focus:not(:disabled) {
    background-color: #e60000;
    color: #fff; }

.outline-block-button-dark {
  background-color: transparent;
  color: #444;
  border: 1px solid #444; }
  .outline-block-button-dark:hover:not(:disabled), .outline-block-button-dark:active:not(:disabled), .outline-block-button-dark:focus:not(:disabled) {
    background-color: #373737;
    color: #fff; }

.outline-block-button-middle-primary {
  background-color: transparent;
  color: #0894ec;
  border: 1px solid #0894ec; }
  .outline-block-button-middle-primary:hover:not(:disabled), .outline-block-button-middle-primary:active:not(:disabled), .outline-block-button-middle-primary:focus:not(:disabled) {
    background-color: #0785d3;
    color: #fff; }

.outline-block-button-middle-danger {
  background-color: transparent;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .outline-block-button-middle-danger:hover:not(:disabled), .outline-block-button-middle-danger:active:not(:disabled), .outline-block-button-middle-danger:focus:not(:disabled) {
    background-color: #e60000;
    color: #fff; }

.outline-block-button-middle-dark {
  background-color: transparent;
  color: #444;
  border: 1px solid #444; }
  .outline-block-button-middle-dark:hover:not(:disabled), .outline-block-button-middle-dark:active:not(:disabled), .outline-block-button-middle-dark:focus:not(:disabled) {
    background-color: #373737;
    color: #fff; }

.outline-block-button-big-primary {
  background-color: transparent;
  color: #0894ec;
  border: 1px solid #0894ec; }
  .outline-block-button-big-primary:hover:not(:disabled), .outline-block-button-big-primary:active:not(:disabled), .outline-block-button-big-primary:focus:not(:disabled) {
    background-color: #0785d3;
    color: #fff; }

.outline-block-button-big-danger {
  background-color: transparent;
  color: #ff0000;
  border: 1px solid #ff0000; }
  .outline-block-button-big-danger:hover:not(:disabled), .outline-block-button-big-danger:active:not(:disabled), .outline-block-button-big-danger:focus:not(:disabled) {
    background-color: #e60000;
    color: #fff; }

.outline-block-button-big-dark {
  background-color: transparent;
  color: #444;
  border: 1px solid #444; }
  .outline-block-button-big-dark:hover:not(:disabled), .outline-block-button-big-dark:active:not(:disabled), .outline-block-button-big-dark:focus:not(:disabled) {
    background-color: #373737;
    color: #fff; }

/*# sourceMappingURL=h5-btn.css.map */
